<style>
    #root {
        padding-top: 50px;
    }
    .post {
        padding-right: 50px;
    }
</style>

<div id="root" style="padding-top: 50px;"></div>

<% if false %>
<div class="index_area" style="padding-top: 20px;">
    <% @post_all.each do |post| %>
        <div class="content">
            <%= post.content %>
            <%= link_to "削除", post_path(post), method: :delete %>
            <%= link_to "詳細", post_path(post), method: :get %>
        </div>
    <% end %>
</div>

<div class="create_link" style="padding-top: 10px;"> 
    <%= link_to "投稿へ", new_post_path %>
</div>

<% end %>